[submodule "submodules/quickstart-aws-acm-certificate"]
	path = submodules/quickstart-aws-acm-certificate
	url = git@github.com:aws-quickstart/quickstart-aws-acm-certificate.git
        branch = main
[submodule "quickstart-aws-acm-certificate"]
	branch = mmaster
[submodule "docs/boilerplate"]
	path = docs/boilerplate
	url = https://github.com/aws-quickstart/quickstart-documentation-base-common.git
[submodule "submodules/quickstart-amazon-eks-nodegroup"]
	path = submodules/quickstart-amazon-eks-nodegroup
	url = git@github.com:aws-quickstart/quickstart-amazon-eks-nodegroup.git
